@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700 &family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  margin-top: 16px;
  /* padding: 10px; */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  display: flex;
}

#id_picture::-webkit-file-upload-button {
  visibility: hidden;
  user-select: none;
}
#id_picture{
  color: transparent;
}
#id_picture::before {
  content: 'Select profile picture';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  color: #535353 !important;
  outline: none;
  white-space: nowrap;
  /* color: transparent; */
  
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

#id_picture:hover::before {
  border-color: black;
}
#id_picture:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


/* MAIN FLOW  STARTS*/
.main-flow {
  /* max-width: 60%; */
  box-shadow: 0px 2px 10px rgba(36, 24, 24, 0.1);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  margin: 24px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* MAIN FLOW  STARTS*/
/* .main-flow {
  width: 84%;
  position: absolute;
  top: 105px;
  right: 0;
  box-shadow: 0 0 10px rgba(36, 24, 24, 0.1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
} */
.text-area {
  /* padding: 20px 0; */
  /* width: 100%; */
  height: 74vh;
}
.left {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}
.top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.submit__btn{
   margin-top: 20px;
}
.top-left h3{
    color: #535353;
}
.image {
  width: 150px;
  height: 150px;
  background-color: #535353;
  border-radius: 50%;
  border: none;
}
.btn1 {
  display: block;
  width: 150px;
  height: 40px;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  background: #56ccf2;
}
.btn1:hover {
  cursor: pointer;
}

/* .btn > a {
  word-break: break-all;
  width: 17px;
  border: 2px solid red;
  background: black;

} */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.search-forms {
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
}
.search-button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

.search-button[type="submit"]:hover {
  opacity: 1;
  background-color: #e5e5e5;
}

.search-button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #0b324e;
  border-color: #b6cfe0;
  outline: none;
}

.input-house {
  padding-bottom: 25px;
}
.label{
    color: #373737;
}
input[type=text], input[type=url] {
  width: 35vw;
  height: 28px;
  padding: 0 15px;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
}
@media screen and (max-width: 826px){
  .text-area {
    height: 47vh;

  }
}
@media screen and (max-width: 710px){
  body{
    padding: 0;
  }
  .main-flow{
    margin: 0;
  }

}
